@font-face {
    font-family: 'icomoon';
    src: url('../fonts1/icomoon.eot?uu00zb');
    src: url('../fonts1/icomoon.eot?uu00zb#iefix') format('embedded-opentype'), url('../fonts1/icomoon.ttf?uu00zb') format('truetype'), url('../fonts1/icomoon.woff?uu00zb') format('woff'), url('../fonts1/icomoon.svg?uu00zb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.main {
    margin-top: 10px;
    height: 455px;
    width: 980px;
    margin-left: 220px;
}

.focus {
    float: left;
    width: 721px;
    height: 455px;
    perspective: 3000px;
}

@keyframes rotate {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.focus section {
    position: relative;
    /* width: 721px;
    height: 455px; */
    /* margin: 60px auto; */
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
}

.focus img {
    height: 430px;
    padding-left: 0px;
    padding-top: 0px;
}

.focus section:hover {
    animation-play-state: paused;
}

.focus section div {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url(upload/mai.jpg) !important;
    background-size: cover; */
}

.focus section div:nth-child(1) {
    transform: translateZ(100ppx);
}

.focus section div:nth-child(2) {
    /* 先旋转 后移动 */
    transform: rotateY(90deg) translateZ(100px);
}

.focus section div:nth-child(3) {
    /* 先旋转 后移动 */
    transform: rotateY(180deg) translateZ(100px);
}

.focus section div:nth-child(4) {
    /* 先旋转 后移动 */
    transform: rotateY(270deg) translateZ(100px);
}


/* .focus section div:nth-child(5) {
    /* 先旋转 后移动 
    transform: rotateY(240deg) translateZ(400px);
}

.focus section div:nth-child(6) {
    /* 先旋转 后移动 
    transform: rotateY(300deg) translateZ(400px);
} */

.newflash {
    float: right;
    width: 250px;
    height: 455px;
}


/*电梯导航*/

.fixedtool {
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -676px;
    width: 66px;
    background-color: orangered;
    display: none;
}

.fixedtool li {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    color: black;
}

.fixedtool .current {
    background-color: black;
    color: #fff;
}

.news {
    height: 165px;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid rgb(230, 114, 5);
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    width: 63px;
    float: left;
    height: 71px;
    border-right: 1px solid rgb(230, 114, 5);
    border-bottom: 1px solid rgb(230, 114, 5);
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
}

.lifeservice ul li p {
    color: rgb(230, 114, 5);
    font-size: 8px;
}

.lifeservice .sad::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e900';
    color: rgb(230, 114, 5);
}

.lifeservice .flashed::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e901';
    color: rgb(230, 114, 5);
}

.lifeservice .winking::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e902';
    color: rgb(230, 114, 5);
}

.lifeservice .stubborn::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e903';
    color: rgb(230, 114, 5);
}

.lifeservice .neutral::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e904';
    color: rgb(230, 114, 5);
}

.lifeservice .stuck-out::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e905';
    color: rgb(230, 114, 5);
}

.lifeservice .grinning::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e906';
    color: rgb(230, 114, 5);
}

.lifeservice .smiling::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e908';
    color: rgb(230, 114, 5);
}

.lifeservice .astonished::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e909';
    color: rgb(230, 114, 5);
}

.lifeservice .sun::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e90a';
    color: rgb(230, 114, 5);
}

.lifeservice .evil::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e9f0';
    color: rgb(230, 114, 5);
}

.lifeservice .numb::before {
    font-family: 'icomoon';
    font-size: 24px;
    content: '\e907';
    color: rgb(230, 114, 5);
}

.bargin img {
    padding-left: 60px;
    height: 81px;
}

.news-hd {
    height: 33px;
    border-bottom: 1px dotted rgb(230, 114, 5);
    padding: 0 15px;
}

.news-hd h5 {
    float: left;
    line-height: 33px;
    font-size: 14px;
    color: aliceblue;
}

.news-hd .more {
    float: right;
    line-height: 33px;
    color: aliceblue;
}

.news-hd .more::after {
    font-family: 'icomoon';
    content: '\e920';
    line-height: 33px;
    font-size: 10px;
    color: aliceblue;
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news-bd ul li a {
    color: aliceblue;
}

.news-bd ul li:hover {
    background-color: rgb(230, 114, 5);
}

.recom {
    height: 163px;
    /* background-color: yellowgreen; */
    margin-top: 12px;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    text-align: center;
}

.recom_hd img {
    width: 205px;
    height: 163px;
}

.recom_bd {
    width: 980px;
    /* position: relative; */
    top: 0;
    left: 0;
    float: left;
    /* overflow: hidden; */
}

.recom_bd ul {
    /* position: absolute; */
    /* float: left; */
    top: 0;
    left: 0;
    width: 600%;
    /* overflow: hidden; */
}

.recom_bd ul li {
    position: relative;
    float: left;
    padding-right: 5px;
    margin-right: 20px;
    line-height: 163px;
    text-align: center;
}

.recom_bd img {
    height: 163px;
}

.circle {
    position: absolute;
    top: 170px;
    left: 400px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    /*background-color: #fff;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;
}


/* .recom_bd ul li:nth-child(-n+3)::after { 
    position: absolute;
    right: 0;
    top: 10px;
    content: '';
    width: 1px;
    height: 145px;
    background-color: rgb(230, 114, 5);
}*/

.recom_bd ul li .mask {
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 217px;
    height: 165px;
    background: rgba(235, 81, 9, 0.5);
    transition: all 0.4s;
}

.recom_bd ul li:hover .mask {
    display: block;
}

.floor .w {
    margin-top: 30px;
}

.box_hd {
    height: 30px;
    border-bottom: 2px solid rgb(230, 114, 5);
    margin-bottom: 20px;
}

.box_hd h3 a {
    float: left;
    font-size: 18px;
    color: rgb(230, 114, 5);
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: right;
}

.tab_list ul li a {
    margin: 0 15px;
    color: rgb(230, 114, 5);
}

.tab_list ul li :hover {
    color: aliceblue;
}

.box_bd .tab_content {
    width: 1225px;
    background-color: blue;
}

.box_bd .tab_content ul li {
    position: relative;
    /*子绝父相*/
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: #ff5700;
}

.box_bd ul li {
    transition: all 0.4s;
}

.box_bd .tab_content ul li:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.box_bd .tab_content ul li .mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 228px;
    height: 270px;
    background: rgba(235, 81, 9, 0.5);
}

.box_bd .tab_content ul li:hover .mask {
    display: block;
}

.box_bd .tab_content ul li>img {
    width: 100%;
}

.box_bd .tab_content ul li .bruh {
    width: 70px;
    height: 25px;
}

.box_bd .tab_content ul li em {
    position: absolute;
    top: 2px;
    right: -4px;
}

.box_bd .tab_content ul li h4 {
    color: black;
    text-align: center;
    margin-top: 20px;
}

.box_bd .tab_content ul li h4 a {
    color: black;
}

.box_bd .tab_content ul li:hover {
    box-shadow: 2px 2px 2px 2px rgba(245, 240, 240, 0.3);
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}