@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?uu00zb');
    src: url('../fonts/icomoon.eot?uu00zb#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?uu00zb') format('truetype'), url('../fonts/icomoon.woff?uu00zb') format('woff'), url('../fonts/icomoon.svg?uu00zb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid rgb(230, 114, 5);
}

header img {
    height: 72px;
}

.logo {
    padding-top: 13px;
}

.registerarea {
    height: 522px;
    border: 1px solid rgb(230, 114, 5);
    margin-top: 20px;
}

.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid rgb(230, 114, 5);
    background-color: #ff5700;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
}

.login {
    float: right;
    font-size: 14px;
    color: aliceblue;
}

.login a {
    color: rgb(15, 9, 68);
}

.reg-form {
    width: 600px;
    margin: 50px auto 0;
    /* background-color: aquamarine; */
}

.reg-form ul li {
    margin-bottom: 20px;
}

.reg-form ul li label {
    display: inline-block;
    width: 150px;
    text-align: right;
    color: #ff5700;
    font-size: 16px;
}

.reg-form ul li .inp {
    width: 242px;
    height: 32px;
    border: 1px solid rgb(230, 114, 5);
}

.reg-form .error {
    color: red;
}

.error_icon::before {
    font-family: 'icomoon';
    content: '\e908';
    width: 20px;
    height: 20px;
    color: red;
    padding-right: 5px;
}

.success {
    color: green;
}

.success_icon::before {
    font-family: 'icomoon';
    content: '\e904';
    width: 20px;
    height: 20px;
    color: green;
    padding-right: 5px;
}

.agree {
    padding-left: 150px;
}

.agree input {
    vertical-align: middle;
}

.agree a {
    color: #ff5700;
}

.btn {
    width: 200px;
    height: 34px;
    background-color: #ff5700;
    font-size: 14px;
    color: aliceblue;
    margin: 30px 0 0 180px;
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}

.links {
    margin-bottom: 15px;
}

.links a {
    margin: 0 3px;
}

.links a:hover {
    color: #ff5700;
}

.copyright {
    line-height: 20px;
}